vendor/* linguist-vendored
node_modules/* linguist-vendored


*.blade.php linguist-detectable=true
*.php linguist-detectable=true
*.js linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.html linguist-detectable=false
node_modules/* linguist-vendored
public/js/* linguist-vendored
resources/js/* linguist-vendored
